.zapis {
    box-shadow: 0 0 10px rgba(175, 167, 167, 0.5);
    border-radius: 12px;
    padding: 20px 20px;
    height: 700px;
    padding-bottom: 40px;
    width: 100%;
    .btn {
        display: flex;
        gap: 10px;
     

        .btn1 {
            padding: 10px 30px;
            border-radius: 10px;
            background: #D7EAFF;
        }

        .btn2 {

            padding: 10px 30px;
            border-radius: 10px;
            background: #D7EAFF;

        }


        .btn3 {
            padding: 10px 30px;
            border-radius: 10px;
            background: #D7EAFF;
        }

    }

    .date {
        display: flex;
        align-items: center;
        gap: 16%;
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 20px;

        h1 {
            font-size: 13px;
            font-weight: 400;
        }
    }


    .list {
        display: flex;
        align-items: center;
        gap: 100px;
        border:2px solid rgb(232, 230, 230);
        border-radius: 12px;
        padding: 5px 10px;

        h1 {

            font-size: 18px;
            font-weight: 500;
            line-height: 24.59px;
            



        }

        span {

            font-size: 18px;
            font-weight: 500;
            line-height: 24.59px;
           
            color: #777777;



        }

        img{
            width: 55px;
            height: 55px;
        }

       .btnn{
        display: flex;
        align-items: center;
      gap: 10px;
        .btnn1{
            padding: 10px 10px;
            border-radius: 11px;
            background: #D7EAFF;
            color: red;
            font-size: 20px;


        }
        .btnn2{
            padding: 12px 20px;
            border-radius: 10px;
            background: #2B7BD4;
            color: white;
            font-weight: 800;
            font-size: 16px;

            
        }

       }
    }
}